<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <title>Moje Zdrowie</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="">

    <!-- Chart.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>


    <!-- Main CSS -->
    <link rel="stylesheet" href="../static/css/src/style.css" />

    <!-- Normalize CSS -->
    <link rel="stylesheet" href="../static/css/dist/normalize.min.css" />

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900">
</head>

<body>
    <div id="pollutionPopup" class="modal--wrapper block--none">
        <div class="modal--pollution">
            <div class="pollution__modal--top">
                <div class="pollution__modal-title text--center"><span id="stationName"></span></div>
                <div class="pollution__modal-close text--center" onclick="toggleStationInfo();"></div>
            </div>

            <div class="pollution__modal-container">
                <div class="pollution__main-container">
                    <div class="pollution__main-title text--center">Ocena jakości</div>
                    <div class="pollution__main-content text--center" id="airQuality"></div>
                </div>
                <div class="pollution__graph-container">
                    <div class="pollution__graph-selection">
                        <div class="pollution__graph-selection__title text--center">Wybierz</div>
                        <select class="pollution__graph-selection__select" id="selectPollution" onchange="postDataToGraph(this.value)">
                        </select>
                    </div>
                    <div class="pollution__graph-content" id="chartCont">
                        <canvas id="chart"></canvas>
                    </div>
                    <div class="pollution__graph-more">
                        <div class="pollution__graph-more__title text--center">Aktualny poziom</div>
                        <div class="pollution__graph-more__type text--center" id="pollutionType"></div>
                        <div class="pollution__graph-more__content text--center" id="pollutionValue"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="infoPopup" class="modal--wrapper block--none" onclick="hideInfo()">
        <div class="modal--info">
            <div id="infoTitle" class="info--name"></div>
            <div id="infoIcon" class="info--symbol"></div>
            <div id="infoText" class="info--container text--center"></div>
        </div>
    </div>

    <div class="map__container" id="main">
        <div class="map__options">
            <div class="options__title">Mapa</div>
            <div style="margin-bottom: 2em">
                <div class="map__input-containter">
                    <input class="map__input" id="mapInput" placeholder="Czego szukasz?">
                    <div class="map__input-btn" onclick="Search()"></div>
                </div>
            </div>

            <div class="map__show">
                <div class="map__show-title">Pokaż na mapie</div>
                <div class="map__show-el">
                    <div class="map__show-el-name">Apteki</div>
                    <div class="map__show-el-settings text--center" onclick="showInfo('pharmacies')"></div>
                    <div class="map__show-el-checkbox text--center show-el-checkbox--no" id="pharmaciesCBox" onclick="showPharmaciesMarkers();"></div>
                </div>
                <div class="map__show-el">
                    <div class="map__show-el-name">Stacje pomiarowe</div>
                    <div class="map__show-el-settings text--center" onclick="showInfo('pollution')"></div>
                    <div class="map__show-el-checkbox text--center show-el-checkbox--no" id="pollutionCBox" onclick="showPollutionMarkers();"></div>
                </div>
            </div>

            <div class="map__show">
                <div class="map__show-title">Źródła</div>
                <div class="map__show-el">
                    <div class="map__show-el-name">Dane aptek</div>
                    <a class="text--center" href="https://dane.gov.pl/dataset/429">dane.gov.pl</a>
                </div>
                <div class="map__show-el">
                    <div class="map__show-el-name">Stacje pomiarowe</div>
                    <a class="text--center" href="https://dane.gov.pl/dataset/313/resource/1345">GIOŚ</a>
                </div>
            </div>

            <div class="map__show">
                <div class="map__show-title">Statystyki</div>
                <div class="map__show-el">
                    <div class="map__show-el-name">Dane aptek</div>
                    <a class="text--center" href="https://dane.gov.pl/dataset/429">dane.gov.pl</a>
                </div>
                <div class="map__show-el">
                    <div class="map__show-el-name">Stacje pomiarowe</div>
                    <a class="text--center" href="https://dane.gov.pl/dataset/313/resource/1345">GIOŚ</a>
                </div>
            </div>



            <div class="map__footer text--center">
                © Adrian Orłów 2018
            </div>
        </div>

        <div id="map"></div>
    </div>

    <script src="../static/js/src/medmap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfKXRZXeuDipRrraTgKT2JAf5qqLqDQj4&callback=init"
        async defer></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
</body>

</html>