<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <title>Moje Zdrowie</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="">

    <!-- Google Analytics -->


    <!-- Main CSS -->
    <link rel="stylesheet" href="../static/css/src/style.css" />

    <!-- Normalize CSS -->
    <link rel="stylesheet" href="../static/css/dist/normalize.min.css" />

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900">
</head>

<body>
    <div id="pollutionPopup" class="modal--wrapper" onclick="hideStationInfo()">
        <div class="modal--pollution">
            <div class="pollution__modal-title text--center"><span id="stationName">nazwa_stacji</span></div>
            <div class="pollution__modal-container"></div>
        </div>
    </div>

    <div class="map__container">
        <div class="map__options">
            <div style="margin-bottom: 2em">
                <div class="map__input-containter">
                    <input class="map__input" id="mapInput" placeholder="Czego szukasz?">
                    <div class="map__input-btn" onclick="Search()"></div>
                </div>
                <div class="map__input-more">Zaawansowane</div>
            </div>

            <div class="map__show">
                <div class="map__show-title">Pokaż na mapie</div>
                <div class="map__show-el">
                    <div class="map__show-el-name">Apteki</div>
                    <div class="map__show-el-settings text--center"></div>
                    <div class="map__show-el-checkbox text--center show-el-checkbox--yes"></div>
                </div>
                <div class="map__show-el">
                    <div class="map__show-el-name">Stacje pomiarowe</div>
                    <div class="map__show-el-settings text--center"></div>
                    <div class="map__show-el-checkbox text--center show-el-checkbox--no" onclick="showPollutionMarkers();"></div>
                </div>
                <div class="map__show-el">
                    <div class="map__show-el-name">Placówki lecznicze</div>
                    <div class="map__show-el-settings text--center"></div>
                    <div class="map__show-el-checkbox text--center show-el-checkbox--no"></div>
                </div>
            </div>



            <div class="map__footer text--center">
                © Adrian Orłów 2018
            </div>
        </div>

        <div id="map"></div>
    </div>

    <script>
        var map
        var geocoder

        function init() {
            geocoder = new google.maps.Geocoder();
            map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: 52.2330653,
                    lng: 20.9211125
                },
                zoom: 6
            });
        }
        var markers = [];

        var searchInput = document.getElementById("mapInput");
        searchInput.addEventListener("keyup", function (event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                Search();
            }
        });

        function Search() {
            var address = document.getElementById('mapInput').value;
            geocoder.geocode({
                'address': address
            }, function (results, status) {
                if (status == 'OK') {
                    map.setCenter(results[0].geometry.location);
                    map.setZoom(11)
                } else {
                    alert('Nie znaleziono miejsca');
                }
            });
        }

        function getStationStatus(sID) {
            console.log(sID)
            var pID
            fetch('http://api.gios.gov.pl/pjp-api/rest/aqindex/getIndex/' + sID, {
                    method: 'GET',
                    mode: 'cors'
                })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    }
                })
                .then((jsonData) => {
                    pID = JSON.stringify(jsonData.stIndexLevel.id);
                    console.log(jsonData.stIndexLevel.id);
                    console.log(pID);
                })
                .catch((err) => {
                    console.log(err.message);
                });

            console.log(pID);
            return pID;
        }

        function getImage(type, name) {
            var link = 'static/img/';
            switch (type) {
                case 'pollution':
                    switch (getStationStatus(name.id)) {
                        case '0':
                            link += 'pollution/0.png';
                            break;
                        case '1':
                            link += 'pollution/1.png';
                            break;
                        case 2:
                            link += 'pollution/2.png';
                            break;
                        case 3:
                            link += 'pollution/3.png';
                            break;
                        case 4:
                            link += 'pollution/4.png';
                            break;
                        case 5:
                            link += 'pollution/5.png';
                            break;
                        case 'nodata':
                            link += 'pollution/00.png';
                            break;
                        default:
                            console.log(getStationStatus(name.id));
                            link += 'pollution/00.png';
                    }
                    break;
                default:
            }
            console.log(link)
            return link
        }

        function showPollutionMarkers() {
            const pollutionUrl = 'http://api.gios.gov.pl/pjp-api/rest/station/findAll';

            fetch(pollutionUrl, {
                    method: 'GET',
                    mode: 'cors'
                })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    }
                })
                .then((jsonData) => {
                    jsonData.forEach((obj) => {
                        var image = {
                            url: getImage('pollution', obj),
                            scaledSize: new google.maps.Size(32, 32),
                            origin: new google.maps.Point(0, 0),
                            anchor: new google.maps.Point(0, 0)
                        };
                        var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(obj.gegrLat, obj.gegrLon),
                            map: map,
                            title: obj.stationName,
                            icon: image
                        });
                        google.maps.event.addListener(marker, 'click', function () {
                            alert('działa' + obj.id)
                        });
                        markers.push(marker);
                    });
                    var markerCluster = new MarkerClusterer(map, markers, {
                        imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
                    });
                })
                .catch((err) => {
                    console.log(err.message);
                });
            var markerCluster = new MarkerClusterer(map, markers);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfKXRZXeuDipRrraTgKT2JAf5qqLqDQj4&callback=init"
        async defer></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
</body>

</html>