<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <title>Moje Zdrowie</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="">

    <!-- Google Analytics -->


    <!-- Main CSS -->
    <link rel="stylesheet" href="../static/css/src/style.css" />

    <!-- Normalize CSS -->
    <link rel="stylesheet" href="../static/css/dist/normalize.min.css" />

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900">
</head>

<body>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQN9iWNOd7ZhuLZa5FPPxeH5mvySCwlEg&callback=initMap"
        async defer></script>
    <script>
        var lat = user_position.coords.latitude;
        var lng = user_position.coords.longitude;
        myLatlng = new google.maps.LatLng(lat, lng);

        mapOptions = {
            zoom: 5,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
        }
        geocoder = new google.maps.Geocoder();
        infoWindow = new google.maps.InfoWindow;
        map = new google.maps.Map(document.getElementById('map'), mapOptions);



        loadPharmacies();
    </script>
</body>

</html>