<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <title>Moje Zdrowie</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="">

    <!-- Google Analytics -->


    <!-- Main CSS -->
    <link rel="stylesheet" href="../static/css/src/style.css" />

    <!-- Normalize CSS -->
    <link rel="stylesheet" href="../static/css/dist/normalize.min.css" />

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900">
</head>

<body>
    <div class="modal--start">
        <div class="start__logo text--center">
            <img alt="logo" src="../static/img/svg/logo.svg">
        </div>
        <a class="start__el text--center" href="map">
            <div class="start__el__symbol text--center"></div>
            <div class="start__el__text">Mapa</div>
        </a>
        <a class="start__el text--center" href="medicines">
            <div class="start__el__symbol text--center"></div>
            <div class="start__el__text">Produkty lecznicze</div>
        </a>
        <a class="start__el text--center" href="refunded">
            <div class="start__el__symbol text--center"></div>
            <div class="start__el__text">Leki refundowane</div>
        </a>
        <a class="start__el text--center block--none" href="stats" style="display: none;">
            <div class="start__el__symbol text--center"></div>
            <div class="start__el__text">Statystyki</div>
        </a>
        <div class="start__footer text--center">
            © Adrian Orłów 2018
        </div>
    </div>
</body>

</html>