textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

body {
    font-family: Montserrat;
    background: #fff !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

a {
    color: #111;
    text-decoration: none;
}

a:visited {
    color: #111;
    text-decoration: none;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.block--blur {
    pointer-events: none;
    filter: blur(4px);
}

.block--none {
    display: none;
}

.text--center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}


/* Start page */

.modal--start {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25em;
    height: auto;
    background: #ececec;
    border-radius: .5em;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-shadow: 0 5px 20px -1px #44444440;
}

.start__logo {
    height: 6.5em;
    border-bottom: 1px solid #d5d5d5;
}

.start__logo img {
    width: 50%;
    height: auto;
}

.start__el,
.start__footer {
    height: 5.5em;
}

.start__el {
    position: relative;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.start__el:hover {
    background: #e2e2e2;
}

.start__el:active {
    background: #d1d1d1;
}

.start__footer {
    font-weight: 600;
}

.start__el__symbol {
    width: 25%;
    position: absolute;
    height: 100%;
    left: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    font-weight: 600;
    font-size: 1.3em;
    color: #333;
}

.start__el__text {
    height: 2em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: left;
    justify-content: left;
    -ms-flex-align: center;
    align-items: center;
    width: 75%;
    margin-left: 25%;
    height: 100%;
    font-size: 1.3em;
}

/* Medicines */

.modal--medicines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 38em;
    padding: 2em;
    height: auto;
    background: #ececec;
    border-radius: .5em;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-shadow: 0 5px 20px -1px #44444440;
}

.modal--medicines .medicines__input {
    border: none;
    padding: 1em;
    border-radius: .5em;
    background: #fff;
    width: calc(100% - 2em);
    margin-right: 5%;
}

.modal--medicines .medicines__submit {
    display: inline-block;
    padding: 1em;
    width: calc(100% - 2em);
    margin-top: 1em;
    border-radius: .5em;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    background: #e2e2e2;
}

.medicines__scan {
    display: inline-block;
    padding: 1em;
    border-radius: .5em;
    background: #969696;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-family: "Font Awesome 5 Free";
    width: calc(33% - 4em);
    cursor: pointer;
}

.medtable__title,
.medicines__title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1.5em;
}

.medtable__el {
    width: calc(100% - 2em);
    height: 4em;
    padding: 1em;
    cursor: pointer;
    transition: .2s ease-in-out;
    border-radius: .5em;
    margin-bottom: 1em;
}

.medtable__el:hover {
    background: #e2e2e2;
}

.medtable__el:active {
    background: #d5d5d5;
}

div .medtable__el:nth-child(even) {
    background: #e2e2e2;
}

.medtable__el:nth-child(even):hover {
    background: #d5d5d5;
}

.medtable__el:nth-child(even):active {
    background: #d1d1d1;
}

.medtable__el div {
    height: 100%;
    display: inline-block;
    line-height: 4em;
}

.medtable__el div:nth-child(1) {
    width: 40%;
    font-weight: 600;
}

.medtable__el div:nth-child(2),
.medtable__el div:nth-child(3) {
    text-align: center;
}

.medtable__el div:nth-child(2) {
    width: 20%;
}

.medtable__el div:nth-child(3) {
    width: 38%;
}

.medtable__el * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.medtable__lastupdate {
    margin-top: 2em;
    display: inline-block;
    left: 0;
}

.medtable__lastupdate span {
    font-weight: 600;
}

.medtable__credits {
    margin-top: 2em;
    display: inline-block;
    right: 0;
    position: absolute;
}

.medtable__credits a {
    font-weight: 600;
}

.modal--medicines--relative {
    margin: auto;
    margin-top: 5%;
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    margin-bottom: 2em;
}

.medtable__footer {
    width: 100%;
    position: relative;
}

.medtable__info {
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
    margin: 2em 0;
}

.meadtable__next {
    width: 25%;
    padding: 1em;
    font-weight: 600;
    text-align: center;
    border-radius: .5em;
    background: #e6e6e6;
    margin-left: auto;
    cursor: pointer;
}

/* Medicine Info */

.medicines__names {
    width: 100%;
    font-size: 1.1em;
    font-weight: 600;
    display: flex;
    border-radius: .5em;
    overflow: hidden;
    margin-bottom: 2em;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.medicines__name {
    width: 45%;
    text-align: center;
    padding: 2.5%;
}

.medicines__names:first-child {
    background: #e1e1e1;
}

.medicines__name:last-child {
    display: inline-block;
    background: #d5d5d5;
}

.medinfo__title {
    background: #97a8ba;
    color: #fafafa;
    width: 45%;
    padding: 2.5%;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
    font-weight: 600;
}

.medinfo__container {
    width: 90%;
    padding: 5%;
    height: auto;
    background: #e1e1e1;
    border-radius: .5em;
    border-top-left-radius: 0;
}

.medinfo__info-container {
    width: 60%;
    margin: auto;
    display: flex;
    margin-bottom: 1em;
}

.medinfo__info-label {
    width: 25%;
    padding: 5%;
    text-align: center;
    font-weight: 600;
    color: #fff;
    background: #97a8ba;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.medinfo__info-content {
    display: inline-flex;
    display: -ms-inline-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 55%;
    padding: 5%;
    text-align: center;
    font-weight: 600;
    color: #222;
    background: #d5d5d5;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
}

.medinfo__moreinfo-titles {
    background: #97a8ba;
    font-weight: 600;
    display: flex;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    overflow: hidden;
}

.medinfo__moreinfo-ean {
    width: 45%;
    text-align: center;
    padding: 2.5%;
    color: #fafafa;
}

.medinfo__moreinfo-size {
    width: 45%;
    text-align: center;
    display: inline-block;
    background: #dedede;
    padding: 2.5%;
    margin-left: auto;
}

.medinfo__moreinfo-container:nth-child(even) .medinfo__moreinfo-ean {
    background: #7d8ea0;
}

.medinfo__moreinfo-container:nth-child(odd) .medinfo__moreinfo-size {
    background: #d9d9d9;
}

.medinfo__moreinfo-container {
    width: 100%;
    font-size: 1em;
    font-weight: 600;
    display: flex;
    overflow: hidden;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: #79899a;
}

.medinfo__moreinfo-container:last-child {
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    overflow: hidden;
}

.medinfo__btn {
    width: 95%;
    padding: 2.5%;
    background: #e1e1e1;
    border-radius: .5em;
    display: block;
    font-weight: 600;
    margin-top: 2em;
    text-align: center;
    transition: .2s ease-in-out;
}

.medinfo__btn:hover {
    background: #dedede;
}

.medinfo__btn:active {
    background: #d5d5d5;
}

.medinfo__as-label {
    width: 90%;
    padding: 5%;
    text-align: center;
    font-weight: 600;
    color: #fff;
    background: #97a8ba;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.medinfo__as-el {
    width: 90%;
    text-align: center;
    display: block;
    background: #d9d9d9;
    padding: 5%;
    font-weight: 600;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.medinfo__as-el:hover {
    background: #d5d5d5 !important;
}

.medinfo__as-el:active {
    background: #d1d1d1 !important;
}

.medinfo__info-container .medinfo__as-el:nth-child(odd) {
    background: #dedede;
}

.medinfo__as-el:last-child {
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

/* Refunded */

.modal--refunded {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20em;
    padding: 2em;
    height: auto;
    background: #ececec;
    border-radius: .5em;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-shadow: 0 5px 20px -1px #44444440;
}

.refunded__title {
    font-weight: 600;
    font-size: 1.1em;
    padding: 1em;
    text-align: center;
    border-radius: .5em;
    background: #e4e4e4;
    margin-bottom: 2em;
}

.refunded__input {
    border: none;
    padding: 1em;
    border-radius: .5em;
    background: #fff;
    width: 60%;
    margin-right: 5%;
}

.refunded__scan {
    display: inline-block;
    padding: 1em;
    border-radius: .5em;
    background: #7d8ea0;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-family: "Font Awesome 5 Free";
    width: calc(33% - 4em);
    cursor: pointer;
}


.refunded__submit {
    padding: 1em;
    margin-top: 5%;
    font-weight: 600;
    font-size: 1.1em;
    text-align: center;
    border-radius: .5em;
    color: #fff;
    background: #97a8ba;
    cursor: pointer;
}

.refunded__name {
    width: 95%;
    padding: 2.5%;
    background: #e1e1e1;
    border-radius: .5em;
    display: block;
    font-weight: 600;
    text-align: center;
    font-size: 1.1em;
    cursor: pointer;
}

.refunded__ean {
    padding: .5em .75em;
    width: calc(90% - 2em);
    margin: auto;
    text-align: center;
    background: #97a8ba;
    color: #fafafa;
    font-weight: 600;
    border-bottom-left-radius: .5em;
}

.refunded__info {
    padding: 0.75em 1em;
    width: calc(40% - 2em);
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    margin-left: auto;
    margin-right: calc(5% + .25em);
    font-weight: 600;
    color: #fafafa;
    text-align: center;
}

.refunded--yes {
    background: #2ecc71;
}

.refunded--no {
    background: #e74c3c;
}

.refunded__amount-container {
    width: 50%;
    margin: auto;
    margin-top: 2em;
    border-radius: .5em;
    overflow: hidden;
    display: flex;
}

.refunded__amount-label {
    width: calc(50% - 2em);
    text-align: center;
    padding: 1em;
    background: #97a8ba;
    color: #fafafa;
    font-weight: 600;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.refunded__amount-data {
    width: calc(50% - 2em);
    text-align: center;
    padding: 1em;
    display: inline-flex;
    display: -ms-inline-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    color: #222;
    background: #e1e1e1;
}

/* Map options */

.map__options {
    padding: 1em;
    width: calc(25% - 2em);
    height: calc(100% - 2em);
    position: relative;
    z-index: 100;
    background: #fafafa;
    box-shadow: 0 5px 20px -1px #44444440;
}

.options__title {
    font-weight: 600;
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 1em;
}

.map__container {
    width: 100%;
    height: 100%;
    display: inline-flex;
    transition: ease-in-out .2s;
}

#map {
    height: 100%;
    width: 75%;
}

.map__input-containter {
    width: 100%;
    height: 4em;
    border-radius: .5em;
    background: #f3f3f3;
    display: flex;
    border-radius: .5em;
    overflow: hidden;
}

.map__input {
    border: none;
    background: rgba(0, 0, 0, 0);
    font-size: 1.2em;
    width: 70%;
    padding: 0 5%;
}

.map__input-btn {
    width: 20%;
    height: 100%;
    background: #97a8ba;
    color: #fff;
    cursor: pointer;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.4em;
}

.map__input-more {
    width: 80%;
    padding: .7em 0;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    background: #dcdcdc;
    color: #333;
    cursor: pointer;
}

.map__footer {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    font-weight: 600;
    height: 5.5em;
}

.map__show {
    border-radius: .5em;
    background: #eaeaea;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 2em;
}

.map__show-el {
    width: 100%;
    height: 3em;
    left: 0;
    display: flex;
}

.map__show-el a {
    width: 35%;
    background: #dedede;
    font-weight: 600;
}

.map__show-title {
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
    padding: 1em 0;
}

.map__show-el-name {
    padding-left: 5%;
    width: 65%;
    height: 100%;
    background: #f1f1f1;
    font-size: 1.2em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.map__show-el-settings {
    height: 100%;
    width: 15%;
    background: #dedede;
    cursor: pointer;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: #333;
}

.map__show-el-checkbox {
    height: 100%;
    width: 15%;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    cursor: pointer;
    color: #fafafa
}

.show-el-checkbox--yes {
    background: #2ecc71;
}

.show-el-checkbox--yes:before {
    content: "";
}

.show-el-checkbox--no {
    background: #e74c3c;
}

.show-el-checkbox--no:before {
    content: "";
}

.modal--wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 150;
}

.modal--pollution {
    top: 50%;
    left: 50%;
    width: 30em;
    height: auto;
    border-radius: .5em;
    box-shadow: 0 5px 20px -1px #44444440;
    z-index: 200;
    position: absolute;
    transform: translate(-50%, -50%);
    background: #fafafa;
    overflow: hidden;
    left: 62.5%;
}

.pollution__modal--top {
    width: 100%;
    height: auto;
    display: flex;
}

.pollution__modal-close {
    width: 15%;
    height: 3em;
    font-size: 1.3em;
    background: #656565;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    cursor: pointer;
}

.pollution__modal-title {
    width: 85%;
    height: 3em;
    font-size: 1.3em;
    font-weight: 600;
    background: #eaeaea;
}

.pollution__modal-container {
    padding: 5%;
    height: 65%;
    width: 90%;
}

.pollution__main-container {
    width: 100%;
    height: 3em;
    display: flex;
    border-radius: .5em;
    background: #f1f1f1;
    overflow: hidden;
    margin-bottom: 5%;
}

.pollution__main-title {
    width: 50%;
    height: 100%;
    font-weight: 600;
}

.pollution__main-content {
    background: #dedede;
    width: 50%;
    font-weight: 600;
    height: 100%;
}

.pollution__graph-container {
    width: 100%;
    height: auto;
    border-radius: .5em;
    box-shadow: 0 5px 20px -1px #44444440;
    background: #f1f1f1;
    overflow: hidden;
}

.pollution__graph-selection {
    width: 100%;
    height: 3em;
    display: flex;
}

.pollution__graph-content {
    position: relative;
    width: 100%;
    height: auto;
    padding: 1em 0;
}

.pollution__graph-more {
    width: 100%;
    height: 3em;
    display: flex;
}

.pollution__graph-more__title {
    width: 40%;
    background: #eaeaea;
    font-weight: 600;
}

.pollution__graph-more__type {
    width: 20%;
    background: #dedede;
    font-weight: 600;
}

.pollution__graph-selection__title {
    width: 30%;
    height: 100%;
    font-weight: 600;
    background: #dedede;
}

.pollution__graph-selection__select {
    border: none;
    width: 70%;
    padding: 2.5%;
    height: 100%;
    cursor: pointer;
    background: #eaeaea;
    font-weight: 600;
    text-transform: capitalize;
}

.pollution__graph-more__content {
    width: 40%;
    background: #bdc3c7;
    font-weight: 600;
}

.color--0 {
    background: #27ae60;
    color: #fafafa
}

.color--1 {
    background: #2ecc71;
    color: #fafafa
}

.color--2 {
    background: #f1c40f;
    color: #fff;
}

.color--3 {
    background: #f39c12;
    color: #fff;
}

.color--4 {
    background: #e74c3c;
    color: #fafafa;
}

.color--5 {
    background: #c0392b;
    color: #fafafa;
}

.color---1 {
    background: #bdc3c7;
    color: #333;
}


.info--name {
    background: #eaeaea;
    width: 70%;
    height: 15%;
    float: left;
    font-weight: 600;
    font-size: 2em;
    padding: 0 5%;
    line-height: 2.25em;
}

.info--symbol {
    background: #dedede;
    width: 20%;
    height: 15%;
    float: left;
    font-size: 2em;
    text-align: center;
    line-height: 2.25em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.info--container {
    height: 65%;
    margin-top: 15%;
    padding: 10%;
    font-size: 1.2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    word-spacing: .05em;
    letter-spacing: .3px;
    line-height: 1.2em;
}

.modal--info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    height: 30em;
    background: #f5f5f5;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0px 20px -1px rgba(68, 68, 68, 0.4);
}

.modal--wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.pharmacy__name {
    width: 95%;
    height: auto;
    padding: 2.5%;
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    border-radius: .5em;
    background: #eaeaea;
}

.pharmacy__type {
    padding: .5em .75em;
    width: calc(90% - 2em);
    margin: auto;
    text-align: center;
    background: #8491a0;
    color: #fafafa;
    font-weight: 600;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    margin-bottom: 2em;
}

.pharmacy__info-container {
    width: 90%;
    padding: 5%;
    height: auto;
    background: #eaeaea;
    border-radius: .5em;
    border-top-left-radius: 0;
}

.pharmacy__title {
    background: #97a8ba;
    color: #fafafa;
    width: 45%;
    padding: 2.5%;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
    font-weight: 600;
}

.pharmacy__el-container {
    width: 75%;
    margin: auto;
    display: flex;
    margin-bottom: 1em;
}

.pharmacy__el-symbol {
    width: 25%;
    padding: 5%;
    text-align: center;
    font-weight: 600;
    color: #fff;
    background: #97a8ba;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Font Awesome 5 Free";
}

.pharmacy__warning {
    width: 50%;
    padding: 2.5%;
    border-radius: .5em;
    margin: auto;
    margin-bottom: 2em;
    color: #fff;
    background: #e74c3c;
    text-align: center;
    font-weight: 600;
}

.pharmacy__el-content {
    display: inline-flex;
    display: -ms-inline-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 55%;
    padding: 5%;
    text-align: center;
    font-weight: 600;
    color: #222;
    background: #dedede;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
}

@media only screen and (max-width: 1050px) {
    .map__options {
        width: 40%;
    }
}

@media only screen and (max-width: 900px) {
    .map__options {
        width: 50%;
    }
}

@media only screen and (max-width: 900px) {
    .map__options {
        width: 60%;
    }
}

@media only screen and (max-width: 720px) {
    .map__options {
        display: none;
    }

    #map {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {

    .modal--medicines,
    .modal--refunded {
        width: calc(100% - 4em);
    }

    .refunded__amount-container {
        width: 80%;
    }

    .modal--info {
        width: 100%;
        border-radius: 0;
    }
}

.modal--pharmacy {
    top: 50%;
    left: 50%;
    width: 30em;
    height: auto;
    border-radius: .5em;
    box-shadow: 0 5px 20px -1px #44444440;
    z-index: 200;
    position: absolute;
    transform: translate(-50%, -50%);
    background: #fafafa;
    overflow: hidden;
    left: 62.5%;
}

.pharmacy__container {
    width: 90%;
    height: 90%;
    padding: 5%;
    background: #fafafa;
}

@media only screen and (max-width: 540px) {
    .medtable__el div:nth-child(3) {
        width: 36%;
    }
}

@media only screen and (max-width: 460px) {
    .refunded__info {
        width: calc(70% - 2em);
    }

    .medinfo__info-container {
        width: 100%;
    }
}